@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body, #root {
    height: inherit;
}

.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.nunito-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#customRadioInput:checked ~ div {
    background-color: #F7db00;
    border-color: #E2C903;
}

#customRadioInput:not(:checked):hover ~ div {
    background-color: #f8f8f8;
}